<!-- start of the footer -->
<div class="footer">
    <footer id="footer">
    Built with {{ eleventy.generator }} on {% localedate %}
    {% comment %} <link rel="alternate" href="feed.xml" type="application/rss+xml" title="RSS"> {% endcomment %}
    {% comment %} <a href="/feed.xml"></a> {% endcomment %}

<!-- end of the footer -->
</footer>
</div>