<!-- start of the header -->
<div class="header">
    <header>
        <!-- a link to the home page -->
        <a class="nav" href="/">Home</a>
        <!-- if title is Home,Non Animated,Animated do nothing -->
        {% if title == "Home" %}
        {% elsif title == "Non Animated" %}
        {% elsif title == "Animated" %}
        {% else %}
            <a class="nav" href="{{link}}">Link To The Scene</a>
        {% endif %}
        <!-- links to the page for Animated and Non Animated--> 
        <a class="nav" href="/posts/animated/">Animated</a>
        <a class="nav" href="/posts/non_animated/">Non Animated</a>
    <hr>
    </header>
<!-- end of the header -->
</div>